:root {
  --verde: #05ab6e;
  --gris: #ccc;
  --rojo: #f44336;
  --blanco: #fefefe;
  --gris-100: #888;
  --negro: #000;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

input[type="text"],
input[type="password"] {
  width: 50%;
  padding: 7px 20px;
  margin: 5px 10%;
  display: inline-block;
  border: 1px solid var(--gris);
  box-sizing: border-box;
}

.buttonq {
  background-color: var(--verde);
  color: var(--blanco);
  padding: 5px 10px;
  margin: 4px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.buttonq:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 5px 10px;
  background-color: var(--rojo);
}

.imgcontainer {
  text-align: center;
  margin: 10px 0 10px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 6px;
}

span.psw {
  float: right;
  padding-top: 6px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 20%;
  margin: 0 auto;
  top: 0;
  width: 60%;
  height: 100%; 
  overflow: auto; 
  background-color: var(--negro); 
  background-color: rgba(0, 0, 0, 0.4); 
  padding-top: 7px;
}

.modal-content {
  background-color: var(--blanco);
  margin: 5% auto 1% auto;
  padding: 0 25px;
  border: 1px solid var(--gris-100);
  left: 10%;
  width: 80%;
}

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: var(--negro);
  font-size: 3em;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--rojo);
  cursor: pointer;
}

.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@media (max-width: 600px) {
  .modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 5%;
    margin: 0 auto;
    top: 0;
    width: 90%; 
    height: 100%;
    overflow: auto;
    padding-top: 7px;
  }
  input[type="text"],
  input[type="password"] {
    width: 90%;
    padding: 2px 2px;
    margin: 2px 2%;
  }
  .modal-content {
    margin: 5% auto 1% auto;
    padding: 0 5%;
    width: 90%;
  }
  .close {
    position: absolute;
    right: 5px;
    font-size: 2em;
    font-weight: bold;
  }
}
@media screen and (max-width: 315px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
