*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
:root {
  --white: #fff;
  --black: #000;
  --red: #cd0808;

  /* Primary colors*/
  --primary-1: #2b8379;
  --primary-2: #19a596;
  --primary-3: #7fd1c7;
  --primary-4: #7fd1c7;
  --primary-5: #d0f3ef;

  /* Neutral colors */
  --neutral-1: #2c2c2c;
  --neutral-2: #434343;
  --neutral-3: #94868b;
  --neutral-4: #d9cfd3;
  --neutral-5: #f2ecee;

  /* Accent-blue colors */
  --accent-1: #970e3d;
  --accent-2: #c43464;
  --accent-3: #de7699;
  --accent-4: #e6c3ce;
  --accent-5: #fff2f7;
}

.centert {
  margin-left: auto;
  margin-right: auto;
}
.bodyindex{
  background-image: url(./graphic-cartoon-character-financial-accounting-vector-38031545.png);
 /*  background-size: 60%; */
  /* margin-top: 30%; */
  background-position: top;
  background-repeat: no-repeat;
}
body {
  background-color: var(--neutral-5);
  margin: 0;
  font-weight: 800;
}

h1 {
  font-size: 24px;
  font-weight: 600;
}

h2 {
  font-size: 20px;
  font-weight: 500;
}

h3 {
  font-size: 18px;
  font-weight: normal;
}

p {
  /* line-height: 30px; */
  font-size: 16px;
}

aa {
  color: var(--primary-2);
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 40px;
  margin-bottom: -40px;
  border-bottom: 5px solid transparent;
}
aa:hover {
  text-decoration: none;
  padding-bottom: 40px;
  border-bottom: 5px solid var(--primary-1);
}
#digitado{
color:var(--red)
}
.agregar{
 /*  background-color: var(--neutral-5); */
  color: var(--primary-1);
  font-weight: 700;
 /*  border-color: var(--primary-1); */
}
.fecha{
  color: #5941e2;
}
.eliminarRow{  
  cursor: pointer;
  content: "Eliminar";
  background-color: var(--accent-3);
  color: var(--accent-1);
  font-weight: 700;
  /*border-color: var(--accent-1);*/
}
.rounded {
  border-radius: 20px;
}

.pcontainer {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 10px;
}


/* FORMS */
.form h2 {
  font-size: 20px;
  font-weight: 400;
}

.form h3 {
  font-size: 18 px;
  font-weight: 300;
  margin-bottom: 15px;
}

/* td{ */
/* } */
td {
  position: relative;
  border: 0px solid var(--primary-2);
  line-height: 1em;
  font-size: 1em;
}

td:after {
  padding: 0;
  margin: 0;
  content: '';
  position: absolute;
  width: 95%;
  display: block;
  height: 2px;
  background-color: var(--primary-5);
  bottom: -2px;
  line-height: 0.8em;
}

#symbol, #coti {
  color: var(--primary-2);
  text-decoration: none;
  text-align: end;
  font-weight: bold;
  padding: 0 1px;  
  border: none;
}

.informacion{
  display: flex;
  justify-content: space-around;
  font-size: 0.8em;

}


.form-section {
/*   border-bottom: var(--neutral-4) solid 1px; */
  margin-bottom: 20px;
}

.input-required {
  color: var(--primary-2);
  text-decoration: none;
  font-weight: bold;
  padding: 0 1px;
}

.label {
  display: block;
  font-weight: 500;
}
input{
  padding-left: 3px;
}
.input {
  font-size: 0.8em;
  margin-top: 1em;
  margin-bottom: 1.5em;
  padding: 0.75em 0.5em;
  min-width: 200px;
  border: none;
  border-left: 7px solid var(--neutral-4);
  transition: border-left-color 160ms;
  background-color: white;
  width: 100%;
}

::placeholder {
  color: var(--neutral-3);
}

input:not(.btn):focus {
  
  outline: none;
  border-left: 7px solid var(--primary-1);
}

.inputerror:not(.btn):focus{
  outline: none;
  border-left: 7px solid var(--red);
}


/* NAVBAR */
.navbar {
  background-color: white;
  padding: 5px;
  box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.07),
    0px -3px 7px 1px rgba(0, 0, 0, 0.07);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.nav-brand {
  font-weight: 450;
  text-decoration: none;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: initial;
}

.currency_main{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.07),
  0px -3px 7px 1px rgba(0, 0, 0, 0.07);
  
}